<meta charset="UTF-8">
<h1>Книги</h1>

<% if flash[:success] %>
    <p class="bg-success"><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
    <p class="bg-danger"><%= flash[:error] %></p>
<% end %>


<h2>Книги</h2>

<% if @libraries.books.empty? %>
    В момента няма налични книги
<% end %>
<% @libraries.books.each do |book| %>
    <p>
      <strong><%= book.author %></strong>: <%= book.title %>
    </p>
<% end %>
