<meta charset="UTF-8">
<h1>Книги</h1>

<% if flash[:success] %>
    <p class="bg-success"><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
    <p class="bg-danger"><%= flash[:error] %></p>
<% end %>

<h2>Библиотеки:</h2>

<% if @libraries.empty? %>
    Няма регистрирани библиотеки
<% end %>
<% @libraries.each do |library| %>
    <p>
      <strong><%= library.name %></strong>: <%= library.address %>
    </p>
<% end %>